header {
    @extend %grid-center;

    & h1 {
        font-family: 'Shrikhand', cursive;
    }

}

.fa-arrow-left {
    position: absolute;
    left: 2rem;
    height: 2rem;
    top: 2%;
    font-size: 24px;
    color: #000;
}