//Couleurs principales
$violet-primaire: rgb(147, 86, 220);
$rose-secondaire: rgb(255, 121, 218);
$aqua-tertiaire: rgb(153, 226, 208);

//Couleur secondaires
$vert-clair: rgb(153, 226, 208);
$gris-sombre: rgb(53, 53, 53);
$gris-clair: rgb(226, 226, 226);
$fond-blanc: #f6f6f6;
$fond-blancgris: #eaeaea;

//Textes
$txt-fond-clair: rgb(0, 0, 0);
$txt-fond-sombre: rgb(255, 255, 255);
$txt-fond-vert: rgb(0, 135, 102);